[submodule "engines/tensorrt_llm/TensorRT-LLM"]
	path = engines/tensorrt_llm/TensorRT-LLM
	url = https://github.com/nyunAI/TensorRT-LLM.git
[submodule "pruning/flap/FLAP"]
	path = pruning/flap/FLAP
	url = https://github.com/CASIA-IVA-Lab/FLAP.git
[submodule "pruning/flap/nyuntam_adapt"]
	path = pruning/flap/nyuntam_adapt
	url = https://github.com/nyunAI/nyuntam-adapt.git
