## quantisation/autoawq
-r quantisation/autoawq/requirements.txt

## pruning/flap
-r pruning/flap/requirements.txt

## engines/tensorrt_llm
# -r engines/tensorrt_llm/requirements.txt

## misc
strenum # if python < 3.11
flash_attn


## dev
# TODO: separate requirements for dev when adding contribution steps
black ## code formatter